<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Property Id="InstallType_Prop" Value="0" />
      <Property Id="AdultRadio_Prop" Value="1"/>
      <Property Id="Library_ID" Value="0"/>
      <Property Id="Setup_Text" Value="0"/>
      <Property Id ="Control_Panel" Value="0"/>
      <Property Id ="Cmd_Status" Value="0"/>
      <Property Id ="Preebooking_day" Value="0"/>
      <Property Id ="Age_rest" Value="0"/>
      <Property Id="Edit" Value="0"/>

      <Property Id="Control_Panel_Status" Value="0"/>
      <Property Id="CommandPrompt_Status" Value="0"/>
      <Property Id="Age_Rest_No" Value="0"/>
      <Property Id="Preebooking_Day_No" Value="0"/>
      <Property Id="Connection" Value="Connection string for authentification"/>






      <Dialog Id="LibraryCredUI" Width="370" Height="280">
        <Control Type="Bitmap" Id="btm" Width="370" TabSkip="no" Height="34" X="0" Y="0" Text="[BannerBitmap]">

        </Control>
        <Control Type="Text" Id="info" Width="328" Height="42" X="25" Y="41">
          <Text>
            This installation will guide you through necesary steps to connect to our system .&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;
          </Text>
        </Control>
        <Control Type="Line" Id="upperLine" Width="370" Height="2" X="0" Y="34" />
        <Control Type="Text" Id="LblArea" Width="120" Height="12" X="25" Y="90">
          <Text>Library area</Text>
        </Control>
        <Control Type="Edit" Id="LibArea" Width="120" Height="15" X="25" Y="105" Property="area" />
        <Control Type="Text" Id="LblName" Width="120" Height="12" X="147" Y="90">
          <Text>Library name</Text>
        </Control>
        <Control Type="Edit" Id="LibName" Width="120" Height="15" X="147" Y="105" Property="name"/>
        

        
        <Control Type="RadioButtonGroup" Property="InstallType_Prop" Id="InstallType" Width="311" Height="12" X="0" Y="125">
          <RadioButtonGroup Property="InstallType_Prop">
            <RadioButton Text="Pc installation" Height="12" Value="0" Width="80" X="25" Y="0" />
            <RadioButton Text="Network Installation" Height="12" Value="1" Width="120" X="150" Y="0" />
          </RadioButtonGroup>
        </Control>
        <Control Type="Text" Id="LblPc" Width="314" Height="12" X="25" Y="142">
          <Text>Pc name ex. PC1</Text>
          <Condition Action="hide" >InstallType_Prop=1</Condition>
          <Condition Action="show" >InstallType_Prop=0</Condition>
        </Control>
        <Control Type="Edit" Id="PcName" Width="91" Height="15" X="25" Y="159" Property="pcName">
          <Condition Action="hide" >InstallType_Prop=1</Condition>
          <Condition Action="show" >InstallType_Prop=0</Condition>
        </Control>
        <Control Type="RadioButtonGroup" Property="AdultRadio_Prop" Id="AdultRadio" Width="200" Height="17" X="135" Y="159">

          <RadioButtonGroup Property="AdultRadio_Prop">
            <RadioButton Text="Adult" Height="12" Value="1" Width="50" X="0" Y="0" />
            <RadioButton Text="Child" Height="12" Value="0" Width="50" X="100" Y="0" />
          </RadioButtonGroup>
          <Condition Action="hide" >InstallType_Prop=1</Condition>
          <Condition Action="show" >InstallType_Prop=0</Condition>
        </Control>
        <Control Type="Text" Id="LblFunct" Width="313" Height="12" X="25" Y="176">
          <Text>Pc Functions</Text>
          <Condition Action="hide" >InstallType_Prop=1</Condition>
          <Condition Action="show" >InstallType_Prop=0</Condition>
        </Control>
        <Control Type="Edit" Id="PcFunct" Width="320" Height="15" X="25" Y="193" Property="function" >
          <Condition Action="hide" >InstallType_Prop=1</Condition>
          <Condition Action="show" >InstallType_Prop=0</Condition>
        </Control>
        <Control Type="Line" Id="bottomLine" Width="370" Height="2" X="0" Y="251" />
        <Control Type="PushButton" Id="Cancel" Width="56" Height="17" X="308" Y="259">
          <Text>Cancel</Text>
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Type="PushButton" Id="Next" Width="56" Height="17" X="248" Y="259">
          <Text>Next</Text>
          <Publish Event="DoAction" Value="CustomAction" Order="10">1</Publish>
          <Publish Event="NewDialog" Value="LibrarySettings" Order="11">1</Publish>

        </Control>
        <Control Type="PushButton" Id="Back" Width="56" Height="17" X="188" Y="259">
          <Text>Back</Text>
          <Publish Event="NewDialog" Value="LicenseAgreementDlg" Order="10" />

        </Control>

      </Dialog>
    </UI>
  </Fragment>
  <Fragment>
    <Binary Id="CustomActBinary" SourceFile="$(var.CustomAction.TargetDir)$(var.CustomAction.TargetName).CA.dll"/>
    <CustomAction Id="CustomAction" BinaryKey="CustomActBinary" DllEntry="CustomAction1"  />
  </Fragment>
</Wix>