<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PrinchService1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://52.38.37.58/PrinchService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="PrinchService1Soap" contract="ServiceReference1.PrinchService1Soap"
                name="PrinchService1Soap" />
        </client>
    </system.serviceModel>
</configuration>