<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
     
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="PrinchDB"
         connectionString="Data Source=bookpc.cch6k0kbgedt.us-west-2.rds.amazonaws.com,1433 (fadmin);Persist Security Info=false;User ID=fadmin;Password=Princh2015;Initial Catalog=bookpc;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
